<header class="w-full py-6 bg-transparent">
    <nav class="flex items-center justify-between">
        <h4 class="text-xl font-extrabold">NetMovies.</h4>
        <ul class="flex gap-5 ">
            @for (item of navList; track $index) {
            <li class="font-semibold hover:text-gray-800"><a href={{item.href}}>{{item.title}}</a></li>
            }
        </ul>

        <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                </path>
            </svg>
        </div>


    </nav>
</header>