<main class="h-screen bg-center bg-no-repeat bg-cover bg-hero-img-2 text-gray-50">

    <div class="container mx-auto">
        <app-header />
        <section>
            <h1 class="text-6xl font-extrabold">Your Movie Plug</h1>
            <div class="w-1/2 p-6 rounded-md bg-gradient-to-r from-black">
                <p class="text-xl">
                    Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Similique suscipit voluptates,
                    molestias officiis modi consectetur soluta animi,
                    ipsa rerum fugiat corrupti, quibusdam laborum culpa
                    quaerat! Nostrum quia similique quasi sequi recusandae
                    quae. Tenetur molestiae distinctio aliquid nemo, ipsam
                    alias eum beatae modi voluptas, minima est. Aliquid et
                    iusto numquam molestiae.
                </p>
            </div>
            <button class="p-4 font-semibold rounded-lg bg-main-color">
                Watch Now
            </button>
        </section>
    </div>

</main>